name: CI - build

on:
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  run-tests:
    name: Build lambdas
    runs-on: ubuntu-latest
    env:
      cache_id: tests
    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/
            target/
            ~/.rustup/toolchains
            ~/.rustup/update-hashes
            ~/.rustup/settings.toml
          key: ${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}

      - name: Install latest rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Install cross
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cross

      - name: Build lambdas
        uses: actions-rs/cargo@v1
        with:
          command: xtask
          args: build-lambda --use-cross --target aarch64-unknown-linux-gnu

      - name: Cancel other workflows
        uses: styfle/cancel-workflow-action@0.11.0
        if: failure()
        with:
          workflow_id: all
